{% extends 'base.html.twig' %}

{% block title %}Hello AreaController!{% endblock %}

{% block body %}

    <h2>Bonjour Modérateur modérément puissant ! </h2>

    <li><a href="{{ url('area_index') }}">Retour</a></li>

{% endblock %}
